.Home {
  flex: 1;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home__todoContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.Home__todoCard {
  max-width: 500px;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 0.05em;
  background: #fff;
  padding: 2em;
  height: 500px;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #666;
  z-index: 100;
}

.Home__todoCard-main {
  position: relative;
}

.Home__todoCard-nested {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.Home__todoCardPosition {
  position: absolute;
  bottom: 2px;
  left: 5px;
  font-size: 16px;
}

.Home__todoCard:hover {
  background: #f6f6f6;
}
